body{
    padding: 0;
    margin: 0;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#root{
    height: 100vh; /*tarayıcının yüksekliği*/
}


.drawer{
    width: 500px; !important    
}